global:
  scrape_interval: 15s
  evaluation_interval: 15s
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093
rule_files:
  - "/opt/bitnami/prometheus/conf/rules.yml"
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
  # - job_name: "keeper"
  #   metrics_path: /
  #   static_configs:
  #     - targets: ["keeper:8080"]
  - job_name: "oracle"
    metrics_path: /
    static_configs:
      - targets: ["oracle:8080"]
