version: '3.1'

volumes:
  ipfs:
    driver: local

services:
  ipfs:
    image: ipfs/go-ipfs:v0.10.0
    restart: always
    ports:
      - '127.0.0.1:5001:5001'
    env_file:
      - .env
    ulimits:
      nofile:
        soft: 8192
        hard: 8192
    volumes:
      - ipfs:/data/ipfs
      - ./configs/ipfs-entrypoint.sh:/usr/local/bin/start_ipfs
