version: "3.9"

volumes:
  prometheus:
    driver: local
  alertmanager:
    driver: local
  postgres:
    driver: local
  ipfs:
    driver: local
  geth:
    driver: local
  besu:
    driver: local
  prysm:
    driver: local
  lighthouse:
    driver: local

networks:
  harbour_mainnet:
    name: harbour_mainnet
    driver: bridge

services:
  oracle:
    container_name: oracle_harbour_mainnet
    image: europe-west4-docker.pkg.dev/stakewiselabs/public/oracle:v2.8.10
    restart: always
    entrypoint: ["python"]
    command: ["oracle/oracle/main.py"]
    env_file: [".env"]
    networks:
      - harbour_mainnet

  keeper:
    container_name: keeper_harbour_mainnet
    image: europe-west4-docker.pkg.dev/stakewiselabs/public/oracle:v2.8.10
    restart: always
    entrypoint: ["python"]
    command: ["oracle/keeper/main.py"]
    env_file: [".env"]
    profiles: ["keeper"]
    networks:
      - harbour_mainnet

  prometheus:
    container_name: prometheus_harbour_mainnet
    image: bitnami/prometheus:2
    restart: always
    env_file: [".env"]
    volumes:
      - prometheus:/opt/bitnami/prometheus/data
      - ../configs/prometheus.yml:/opt/bitnami/prometheus/conf/prometheus.yml
      - ../configs/rules.yml:/opt/bitnami/prometheus/conf/rules.yml
    networks:
      - harbour_mainnet

  alertmanager:
    container_name: alertmanager_harbour_mainnet
    image: bitnami/alertmanager:0
    restart: always
    env_file: [".env"]
    volumes:
      - alertmanager:/opt/bitnami/alertmanager/data
      - ../configs/alertmanager.yml:/opt/bitnami/alertmanager/conf/config.yml
    depends_on: ["prometheus"]
    networks:
      - harbour_mainnet

  graph-node:
    container_name: graph_node_harbour_mainnet
    image: graphprotocol/graph-node:v0.25.2
    restart: always
    env_file: [".env"]
    depends_on: ["postgres","ipfs"]
    profiles: ["graph"]
    networks:
      - harbour_mainnet

  postgres:
    container_name: postgres_harbour_mainnet
    image: postgres:14-alpine
    restart: always
    command: ["postgres", "-cshared_preload_libraries=pg_stat_statements"]
    env_file: [".env"]
    volumes: ["postgres:/var/lib/postgresql/data"]
    profiles: ["graph"]
    networks:
      - harbour_mainnet

  subgraphs:
    container_name: subgraphs_harbour_mainnet
    image: europe-west4-docker.pkg.dev/stakewiselabs/public/subgraphs:v1.3.0
    command: >
      /bin/sh -c "until nc -vz graph-node 8020; do echo 'Waiting graph-node'; sleep 2; done
      && yarn build:harbour_mainnet
      && yarn create:local
      && yarn deploy:local"
    env_file: [".env"]
    restart: "no"
    depends_on: ["graph-node","ipfs"]
    profiles: ["graph"]
    networks:
      - harbour_mainnet

  ipfs:
    container_name: ipfs_harbour_mainnet
    image: ipfs/go-ipfs:v0.12.1
    restart: always
    env_file: [".env"]
    ulimits:
      nofile:
        soft: 8192
        hard: 8192
    volumes: ["ipfs:/data/ipfs","../configs/ipfs-entrypoint.sh:/usr/local/bin/start_ipfs"]
    profiles: ["ipfs"]
    networks:
      - harbour_mainnet

  geth:
    container_name: geth_harbour_mainnet
    image: ethereum/client-go:v1.11.5
    restart: always
    command:
      - --mainnet
      - --syncmode=full
      - --authrpc.jwtsecret=/jwtsecret
      - --authrpc.addr=0.0.0.0
      - --authrpc.port=8551
      - --authrpc.vhosts=*
      - --http
      - --http.addr=0.0.0.0
      - --http.port=8545
      - --http.vhosts=*
      - --http.api=web3,eth,net
      - --datadir=/data/ethereum
      - --ethash.dagdir=/data/ethereum/.ethash
      - --ipcdisable
      - --port=30300
    volumes: ["geth:/data","../configs/jwtsecret:/jwtsecret"]
    profiles: ["geth"]
    ports:
      - 30300:30300/tcp
      - 30300:30300/udp
    networks:
      harbour_mainnet:
        aliases:
          - eth1-node

  besu:
    container_name: besu_harbour_mainnet
    image: hyperledger/besu:23.1.2
    restart: always
    command: >
      --network=mainnet
      --data-path=/data
      --data-storage-format=BONSAI
      --sync-mode=X_SNAP
      --rpc-http-enabled
      --rpc-http-cors-origins=*
      --rpc-http-host=0.0.0.0
      --rpc-http-max-active-connections=256
      --rpc-http-port=8545
      --engine-rpc-enabled
      --engine-host-allowlist=*
      --engine-jwt-secret=/jwtsecret
      --engine-rpc-port=8551
      --host-allowlist=*
      --max-peers=50
      --p2p-enabled=true
      --p2p-port=30300
    volumes: ["besu:/data","../configs/jwtsecret:/jwtsecret"]
    user: "0:0"
    profiles: ["besu"]
    ports:
      - 30300:30300/tcp
      - 30300:30300/udp
    networks:
      harbour_mainnet:
        aliases:
          - eth1-node

  prysm:
    container_name: prysm_harbour_mainnet
    image: gcr.io/prysmaticlabs/prysm/beacon-chain:v3.2.2
    restart: always
    command:
      - --mainnet
      - --datadir=/data
      - --jwt-secret=/jwtsecret
      - --rpc-host=0.0.0.0
      - --rpc-port=5052
      - --monitoring-host=0.0.0.0
      - --http-web3provider=$ETH1_ENDPOINT
      - --slots-per-archive-point=1024
      - --accept-terms-of-use
      - --p2p-tcp-port=30301
      - --p2p-udp-port=30301
    volumes: ["prysm:/data","../configs/genesis.ssz:/data/gensis.ssz","../configs/jwtsecret:/jwtsecret"]
    profiles: ["prysm"]
    ports:
      - 30301:30301/tcp
      - 30301:30301/udp
    networks:
      harbour_mainnet:
        aliases:
          - eth2-node

  lighthouse:
    container_name: lighthouse_harbour_mainnet
    image: sigp/lighthouse:v4.0.0
    restart: always
    command:
      - lighthouse
      - --network
      - mainnet
      - beacon
      - --http
      - --http-address=0.0.0.0
      - --http-port=5052
      - --execution-endpoint
      - $ETH1_ENDPOINT
      - --execution-jwt=/jwtsecret
      - --port=30301
      - --enr-udp-port=30302
    volumes: ["lighthouse:/root/.lighthouse","../configs/jwtsecret:/jwtsecret"]
    profiles: ["lighthouse"]
    ports:
      - 30302:30302/tcp
      - 30302:30302/udp
    networks:
      harbour_mainnet:
        aliases:
          - eth2-node
